# =====================
# Python
# =====================
venv/
rag-python/venv/
__pycache__/
*.pyc
*.pkl

# =====================
# Java / Spring Boot
# =====================
target/
.mvn/
*.jar

# =====================
# IDEs
# =====================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =====================
# OS
# =====================
.DS_Store
